html, body, #applicationHost {
    height: 100%;
		font-family: 'Jim Nightshade', cursive;
}

html {
    background: #fff url(images/MM_Lady-clutching-book-1440x900v2.jpg) no-repeat center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
    overflow-y: scroll;
}

.noselect, body .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, body .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, body .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    position: relative;
    min-height: 100%;
    min-width: 950px;
    margin: 0 auto;
    max-width: 1200px;
}

#container span{
	white-space: pre-line;
}


#page {
    padding: 0 0 40px;
    position: relative;
}

    #page #contentContainer {
        display: flex;
        padding: 100px 35px 0;
    }

			#page #contentContainer #content {
	            flex: 1 1 100%;
	        }

.contentWrapper {
			margin: 0 35px;
	    padding-top: 140px;
	    clear: right;
	    width: auto;
}

.contentBorder {
    clear: both;
}

.contentMain {
    position: relative;
}

.scrollerfade{
	height: 20px;
    position: fixed;
    top: 134px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 950px;
    max-width: 1200px;
    display: none;
    pointer-events: none;
}
