.classSelect {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .5rem 1rem;
    display: block;
    width: 250px;
    height: 30px;
}
.navbar-inverse {
	position: relative !important;
	min-height: 50px !important;
	margin-bottom: 20px !important;
	border: 1px solid transparent !important;

	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%) !important;
  background-repeat: repeat-x !important;
	background-color: #222 !important;
  border-color: #080808 !important;
  border-radius: 0 !important;
}
