.classSelect {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .5rem 1rem;
    display: block;
    width: 250px;
    height: 30px;
}

.navbar-dark {
  background-color: #222;
  border-color: #080808;
  color: grey;
}

.navbar-dark a{
  color: grey;
}

button.list-group-item:hover{
  background-color: #222 !important;
  border-color: #23527c !important;
  color: #23527c !important;
}

.selectionTitlebar {
  background-color: #222 !important;
  border-color: #080808 !important;
  color: grey !important;
}
.list-group{
	margin: 1px !important;
	padding:1px !important;
	list-style: none;
}
.list-group:hover{

}
.list-group-item{
    background-color: rgba(34, 34, 34, 0.55) !important;
    border-color: #222 !important;
    color: #808080 !important;
}
.list-group-item:hover{
    border-color:#23527c !important;
}
.list-group a, .list-group a:hover{
    text-decoration: none;
}

.page-header{
    border-bottom: none !important;
}

.containerFix{
    position:absolute;
    left: 0;
    right: 0;
    top: 150px;
    overflow-x: hidden;
    overflow-y: auto
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .progress-header{
        width:1500px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .progress-header{
        width:1150px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .progress-header{
        width:800px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .progress-header{
        width:750px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .progress-header{
        width:450px;
    }
}

.progress-header{
	top: 51px;
	margin: 0 auto 2px;
	position: fixed;
	z-index: 4000;
	width: 100%;
	min-width: 950px;
	max-width: 1200px;
	left: 0;
	right: 0;
	background-color: #fff;
  /*background-color: rgba(133, 133, 133, 1);*/
}

/*.progress-header{
	padding: 20px 0 5px;
position: fixed;
top: 81px;
height: 57px;
z-index: 2000;
left: 0;
right: 0;
margin: 0 auto;
width: 100%;
min-width: 950px;
max-width: 1200px;
background-color: #fff;
}*/
